In [1]:
import pandas as pd

In [2]:
pip install SQLAlchemy

Requirement already satisfied: SQLAlchemy in /Users/danigomezlechonbarrachina/opt/anaconda3/envs/Ironhack/lib/python3.9/site-packages (1.4.35)
Requirement already satisfied: greenlet!=0.4.17 in /Users/danigomezlechonbarrachina/opt/anaconda3/envs/Ironhack/lib/python3.9/site-packages (from SQLAlchemy) (1.1.2)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install pymysql

Requirement already satisfied: pymysql in /Users/danigomezlechonbarrachina/opt/anaconda3/envs/Ironhack/lib/python3.9/site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.

In [4]:
from sqlalchemy import create_engine

In [5]:
str_conn='mysql+pymysql://root:Milufino1@127.0.0.1:3306/uber'


motor=create_engine(str_conn)

Total amount of clients

In [8]:
clients="""select  count(client_uuid)
from clients
where signup_city_id=2033;"""

In [9]:
clients=pd.read_sql(clients,motor)

In [10]:
clients

   count(client_uuid)
0                3830

Active customers:

In [11]:
active="""select  count(client_uuid)
from clients
where signup_city_id=2033
and lifetime_eats_orders>0;"""

In [12]:
active=pd.read_sql(active,motor)

Active riders:

In [24]:
active_rider="""select  count(client_uuid)
from clients
where signup_city_id=2033
and lifetime_eats_orders>0
and is_rider='True';"""

In [25]:
active_rider=pd.read_sql(active_rider,motor)

In [26]:
active_rider

   count(client_uuid)
0                  64

In [18]:
non_active_rider="""select  count(client_uuid)
from clients
where signup_city_id=2033
and lifetime_eats_orders>0
and is_rider='False';"""

In [22]:
non_active_rider=pd.read_sql(non_active_rider,motor)

In [23]:
non_active_rider

   count(client_uuid)
0                 596

In [29]:
non_active_rider_freq="""select  count(client_uuid)
from clients
where signup_city_id=2033
and lifetime_eats_orders>=6
and is_rider='False';"""

In [30]:
non_active_rider_freq=pd.read_sql(non_active_rider_freq,motor)

In [31]:
non_active_rider_freq

   count(client_uuid)
0                 274

In [32]:
non_active_rider_nofreq="""select  count(client_uuid)
from clients
where signup_city_id=2033
and lifetime_eats_orders<6
and is_rider='False';"""

In [33]:
non_active_rider_nofreq=pd.read_sql(non_active_rider_nofreq,motor)